.articlelist {
  max-width: var(--content-w-regular);
  margin: 0 auto;
  padding: 1.45rem;
  max-width: var(--content-w-regular);
  width: 100%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.articlelist h2 {
}

.articlelist ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.article__meta,
.article__tax {
  font-family: var(--highlight-font);
  font-size: 80%;
}

.listitem {
  margin: 3rem 0;
  padding: 3rem 0;
  display: flex;
  flex-direction: row-reverse;
  background: white;
  border-radius: 1rem;
}

.listitem .featimg {
  width: 100%;
  height: auto;
  /* flex: 1 0 30%;
  margin-left: 2rem; */
}

.article__title {
  font-size: 3rem;
  font-weight: 700;
}

.listitem .article__content {
  margin-top: 1rem;
}
