.heading {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 32px;
}

.tile__image {
  margin-bottom: 15px;
}

.tile {
  margin-bottom: 30px;
}

.meta__info {
  /* margin-bottom: 15px; */
}

.meta__info a {
  font-size: 0.8em;
  text-decoration: underline !important; 
  text-shadow: none !important;
  background-image: none !important;
}
