.footersocials {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin: 1.25em auto 4em;
  max-width: 300px;
}

@media screen and (max-width: 480px) {
  .footersocials {
    max-width: 200px;
  }
}

.footersocials li img {
  width: 40px;
  height: auto;
}
